node_modules
/src/lib/input/config.ts
/config.ts

output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

.vscode
.idea

.DS_Store
Thumbs.db
desktop.ini

*.md
.*env*
*.yml

LICENSE
Dockerfile
.*ignore

.git
!.git/refs/heads/main
