# change PLAUSIBLE_HOST if self-hosting
PLAUSIBLE_HOST=plausible.io
PLAUSIBLE_DOMAIN=instances.example.com

# change UMAMI_HOST if self-hosting
UMAMI_HOST=cloud.umami.is
UMAMI_WEBSITE_ID=36d3f05e-69c5-40ee-b08a-267393d83448