# there is no need for a .env file
.env
.env.example

# api keys
api_keys.json

# ignored instances list
data/ignored_instances

# output
output/
templates/score/

# python stuff
__pycache__/
*.pyc
*.pyo

# windows stuff
# (i recommend you switch to linux/macos, it's a lot better)
desktop.ini
*/desktop.ini

# macos stuff
.DS_Store

# ide stuff
.vscode/
.idea/
*.swp
*.swo

# testing file
test.py