<span id="headertext" onclick="window.location='/'">>> cobalt instances</span>
<div id="headerlinks">
    <a href="/api">API</a>
    <a href="/faq">FAQ</a>
    <a href="https://github.com/ihatespawn/instances">Code</a>
    <a href="https://github.com/ihatespawn/instances/issues/new">Report issues</a>
    <a href="https://github.com/ihatespawn/instances/issues/new?assignees=KwiatekMiki%2C+ihatespawn&labels=&projects=&template=remove-my-instance.md&title=Remove+my+instance" id="lastheaderlink">Remove your instance</a>
</div>