<div id="settings">
    <div class="checkbox">
        <input type="checkbox" id="safe"> <label for="safe">only show safe instances</label>
    </div>

    <div class="checkbox">
        <input type="checkbox" id="online" checked> <label for="online">only show online instances</label>
    </div>

    <div class="checkbox">
        <input type="checkbox" id="frontend" checked> <label for="frontend">only instances with frontend</label>
    </div>

    <div class="checkbox">
        <input type="checkbox" id="domainonly" checked> <label for="domainonly">only instances with a domain</label>
    </div>
</div>
<table>
    <tr>
        <th>Frontend</th>
        <th>API</th>
        <th>Score</th>
        <th>Version</th>
    </tr>
    {% for instance in instances %}
    <tr class="trust{{ instance['trust'] }} score{{ instance['score'] }} frontend{{ instance['online']['frontend'] }} nodomain{{ instance['nodomain'] }}">
        <td>
            {% if instance['trust'] == -1 %}
            <a href="/instance/{{ instance['api'] }}">
                {{ instance['frontend'] }}
            </a>
            {% elif instance.get('frontend') != "None" %}
            <a href="{{ instance['protocol'] }}://{{ instance['frontend'] }}">
                {{ instance['frontend'] }}
            </a>
            {% else %}
            -
            {% endif %}
        </td>
        <td>
            {% if instance['trust'] == -1 %}
            <a href="/instance/{{ instance['api'] }}">
                {{ instance['api'] }}
            </a>
            {% else %}
            <a href="{{ instance['protocol'] }}://{{ instance['api'] }}/api/serverInfo">
                {{ instance['api'] }}
            </a>
            {% endif %}
        </td>
        <td>
            <a href="/instance/{{ instance['api'] }}">
                {{ instance['score'] }}%
            </a>
        </td>
        <td>{{ instance.get('version', 'unknown') }}</td>
    </tr>
    {% endfor %}
</table>