<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/head.html' %}
    <title>cobalt instances</title>
    <meta name="description" content="a list of community (and official) cobalt.tools instances">
</head>
<body>
    <header>
        {% include 'include/header.html' %}
    </header>
    <p style="text-align: center; font-size: 16px; margin: 4px;" class="disabled">
        instance: {{ instance['api'] }} <br>
        to see why a service isn't working, hover over the <b>x</b> (pc only)
    </p>
    {% if instance['trust'] == -1 %}
    <p style="text-align: center; margin-top: 0;" id="warning">!! this instance is known to be not safe, please proceed with caution !!</p>
    {% endif %}
    <main style="display: flex;">
        {% include 'include/instance-table.html' %}
    </main>
</body>
</html>