<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/head.html' %}
    <title>cobalt instances</title>
    <meta name="description" content="a list of community (and official) cobalt.tools instances">
</head>
<body>
    <header>
        {% include 'include/header.html' %}
    </header>
    <span style="text-align: center;" id="warning">!! you should only use the instances below if you have problems with the official one (cobalt.tools) !!</span>
    <p style="text-align: center; margin: 8px;" class="info">last updated: {{ lastmodified }} (UTC)</p>
    <span style="text-align: center;" class="disabled">only showing instances that work with {{ service }}, for all instances, go <a href="/" style="text-decoration: underline;">here</a></span>
    <p style="text-align: center; margin-top: 0px;" class="disabled">meanings of colors: green: trusted and safe; yellow: not trusted but looks safe; red: not safe, avoid at all costs; gray: offline</p>
    <main style="display: flex;">
        {% include 'include/instances-table.html' %}
    </main>

    <!-- option handling script -->
    <div id="optionstuff"></div>
    <script src="/static/options.js"></script>
</body>
</html>