<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/head.html' %}
    <title>cobalt instances</title>
    <meta name="description" content="a list of community (and official) cobalt.tools instances">
</head>
<body>
    <header>
        {% include 'include/header.html' %}
    </header>

    {% include 'messages/problems.html' %}
    {% include 'messages/lastmodified.html' %}
    {% include 'messages/auth.html' %}
    {% include 'messages/working.html' %}
    {% include 'messages/colors.html' %}

    <main style="display: flex;">
        {% include 'include/instances-table.html' %}
    </main>

    <!-- option handling script -->
    <div id="optionstuff"></div>
    <script src="/options.js"></script>
</body>
</html>