<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'include/head.html' %}
    <title>cobalt instances</title>
    <meta name="description" content="a list of community (and official) cobalt.tools instances">
</head>
<body>
    <header>
        {% include 'include/header.html' %}
    </header>
    <span style="text-align: center;" id="warning">!! you should only use the instances below if you have problems with the official one (cobalt.tools) !!</span>
    <p style="text-align: center; margin: 8px;" class="info">last updated: {{ lastmodified }}</p>
    <span style="text-align: center;" class="disabled">only showing instances that work with {{ service }}, for all instances, go <a href="/" style="text-decoration: underline;">here</a></span>
    <p style="text-align: center; margin-top: 0px;" class="disabled">meanings of colors: green: trusted and safe; yellow: not trusted but looks safe; red: not safe, avoid at all costs; gray: offline</p>
    <main style="display: flex;">
        {% include 'include/instances-table.html' %}
    </main>

    <!-- option handling script -->
    <style id="safeOptionStyle"></style>
    <style id="onlineOptionStyle">
        .score-1 {display: none;}
    </style>
    <style id="frontendOptionStyle">
        .frontendFalse {display: none;}
    </style>
    <script>
        document.getElementById("safe").addEventListener("change", function() {
            if (this.checked) {
                safeOptionStyle.innerText = ".trust0, .trust-1 {display: none;}"
            } else {
                safeOptionStyle.innerText = ""
            }
        });

        document.getElementById("online").addEventListener("change", function() {
            if (this.checked) {
                onlineOptionStyle.innerText = ".score-1 {display: none;}"
            } else {
                onlineOptionStyle.innerText = ""
            }
        });

        document.getElementById("frontend").addEventListener("change", function() {
            if (this.checked) {
                frontendOptionStyle.innerText = ".frontendFalse {display: none;}"
            } else {
                frontendOptionStyle.innerText = ""
            }
        });
    </script>
</body>
</html>